<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android.roundIcon="@mipmap/ic_launcher_round"
        android.supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.Kimyasal"
        tools:replace="android:allowBackup,android:icon,android:theme,android:label">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Kimyasal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScenarioActivity"
            android:exported="false"
            android:label="Senaryo Modu"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Kimyasal" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="Ayarlar"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Kimyasal" />
        <activity
            android:name=".FreeModeActivity"
            android:exported="false"
            android:label="Serbest Mod"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.Kimyasal" />
        <activity
            android:name=".TestActivity"
            android:exported="false"
            android:label="Test Modu"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Kimyasal" />
        
        <activity
            android:name="com.unity3d.player.UnityPlayerActivity"
            tools:node="merge">
            <intent-filter tools:node="remove">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>